.build/
dist/
Tests/corpus/*.apk
Tests/corpus/**/*.apk
!Tests/corpus/aosp-v3-original.apk
!Tests/corpus/aosp-v3-lineage.apk
!Tests/corpus/aosp-v1.apk
!Tests/corpus/aosp-unsigned.apk
!Tests/corpus/aosp-v2-invalid-signature.apk
!Tests/corpus/aosp-v3-stripped.apk
Tests/corpus/index.pb
*.xcodeproj
*.ipa
.DS_Store
.swiftpm/
DerivedData/
build/
xcuserdata/
*.xcarchive
*.xcuserstate
.env
.env.*
*.p12
*.mobileprovision
*.cer
*.log
